# Copyright 2021, eLibs
# Copyright 2021, Ray Gomez <codenomad@gmail.com>
#
# This program is free software: you can redistribute it and/or modify it under the terms of the MIT License

############################################
# Try to keep this as spartan as possible. #
############################################

paramiko >= 2.7.2
requests >= 2.25.0
scp >= 0.13.3

# Development requirements

bumpver >= 2021.1109
pylint >= 2.6.0
pytest >= 6.1.2
pytest-cov >= 2.10.1
